stages:
  - test

test_failure:
  stage: test
  script:
    - "sleep 60"
    - "false"

trigger_downstream:
  trigger:
    stages:
      - test

    test_success:
      stage: test
      script:
        - "sleep 1"
